.banner
    .img.slider
        div.slide(data-src="assets/images/banner/bg1.jpg")
        div.slide(data-src="assets/images/banner/bg2.jpg")
        div.slide(data-src="assets/images/banner/bg4.jpg")
        div.slide(data-src="assets/images/banner/bg5.jpg")

