#top
    #xoyobox_header
#foot
        .v1_xishan_footer
            .v1_xishan_footer_page
                h2.v1_xishan_footer_logo
                    a(href='https://www.xoyobox.com/', target='_blank')
                        img(src='http://zt.xoyobox.com/20131223_jxsj/images/bot_logo.png', alt='西山居')
                p.v1_xishan_footer_info copyright&copy; 2013 WEST HOUSE CORPORATION LIMITED &#x7248;&#x6B0A;&#x6240;&#x6709; &#x4E0D;&#x5F97;&#x8F49;&#x8F09;
script(type='text/javascript', src='http://zhcdn01.xoyo.com/assets/lib/jquery/jquery.1.7.2.js', charset='utf-8')
script(type="text/javascript",src="https://hk.xoyobox.com/?XoyoboxHeaderV2.js")
// 焦点图
script(type="text/javascript",src="./assets/js/banner/transit.js")
script(type="text/javascript",src="./assets/js/banner/simpleSlider.js")
script(type="text/javascript",src="./assets/js/banner/backstretch.js")
// 焦点图
<!--[if lte IE 9]>
script(type="text/javascript",src="https://hk.xoyobox.com/script/placeholder.jquery.js")
<![endif]-->
script(type="text/javascript",src="./assets/js/page_effect.js")
script(type="text/javascript",src="./assets/js/page_plugin.js")


